* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.likesBadge {
    display: block !important;
    position: absolute !important;
}

.likesBadge span {
    background-color: transparent;
    background: transparent;
    position: absolute;
    text-align: center;
    left: -23px;
    right: auto;
    top: 15px;
    width: 40px;
}